<?xml version="1.0"?>
<launch>

  <arg name="mav_name"       default="firefly"/>
  <arg name="enable_logging" default="false" />
  <arg name="log_file"       default="$(arg mav_name)" />
  <arg name="launch_prefix"  default=""/>
  
  <arg name="odometry_topic" default="vi_sensor/ground_truth/odometry"/>

  <arg name="model_folder"/>
  <arg name="model_list_file"/>
  <arg name="segments_model_file"/>

  <group ns="$(arg mav_name)">

  	<node name="vrglasses_for_robots_ros" pkg="vrglasses_for_robots_ros" type="vrglasses_for_robots_ros" respawn="false" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)">
	  	<remap from="odometry"                to="$(arg odometry_topic)" />
	  	
  		<param name="framerate"               value="20.0" />
  		<param name="camera_frame_id"         value="$(arg mav_name)/visensor/base_link" />
  		
  		<param name="model_folder"            value="$(arg model_folder)" />
  		<param name="model_list_file"         value="$(arg model_list_file)" />
  		<param name="segments_model_file"     value="$(arg segments_model_file)" /> 
	  	
	  	<param name="shader_folder"           value="$(find vrglasses_for_robots)/shaders" />
		<param name="render_far"              value="800.0" /><!-- the range between near and far should be as small as possible, this affects the accuracy of the render depth map-->
		<param name="render_near"             value="0.1" />
		
		
		
		
		<param name="q_BC_x"          value="0.0" />
		<param name="q_BC_y"          value="0.707" />
		<param name="q_BC_z"          value="0.0" />
		<param name="q_BC_w"          value="0.707" />
		
		<param name="v_BC_x"          value="0.0" />
		<param name="v_BC_y"          value="0.0" />
		<param name="v_BC_z"          value="0.0" />
		
  	</node>

  </group>
</launch>
